.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.importantfield {
  color: red;
}

h2#\:r3h\: {
  padding: 0px !important;
}

.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
  height: "0.5em";
}

.MuiInputBase-input
  .MuiOutlinedInput-input
  .MuiInputBase-inputSizeSmall
  .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
  height: "0.5em";
}

input {
  width: 100%;
  border: 1px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 5px;
  height: 2.5rem;
}

input:focus {
  border: 3px solid rgba(137, 196, 244, 1);
}

.error {
  border: 2px solid red;
}

// Custom Styles

.tableTopSection {
  margin: 20px 0 -35px;
  display: table;
  position: relative;
  z-index: 99;
}

.tableParent {
  .tableData {
    border: 0 !important;

    .MuiDataGrid-main {
      border: 1px solid rgba(224, 224, 224, 1);
      border-radius: 5px;
    }

    .MuiDataGrid-columnHeaderTitle {
      font-weight: 400;
    }

    .MuiDataGrid-columnHeader:first-child {
      border-top-left-radius: 5px;
    }

    .MuiDataGrid-columnHeader:last-child {
      border-top-right-radius: 5px;
    }

    .MuiDataGrid-withBorder {
      border-right: 0 !important;
    }
  }

  .tableSearch {
    float: right;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
    border-radius: 5px;
    padding: 2px 10px;

    input:focus {
      border: 0 !important;
    }

    .MuiInput-underline:before {
      border: 0 !important;
    }
  }
}

.appHeader {
  align-items: center;

  .logo {
    margin-left: 20px;
  }

  .rightContent {
    margin-left: auto;
  }
}

.settingsBtn {
  position: absolute !important;
  width: 100%;
  bottom: 1px;
  background-color: #e8edf2;

  .SettingsIcon {
    min-width: auto !important;
    margin-right: 18px;
  }
}

.recentProjects {
  margin: 20px 0 0;
}

.workflowDetails {
  margin: 30px 0;
}

h5 {
  font-size: 18px !important;
}

.mt-2 {
  margin-top: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

.my-2 {
  margin: 20px 0;
}

.row {
  display: flex;
  gap: 32px;
  & > * {
    margin-bottom: 15px;
  }
  .col-4 {
    width: 33.33%;
  }
}

.tableSearch {
  width: 100%;
  max-width: 250px;
}

.pillgroup {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  height: 120px;
  overflow-y: scroll;
  background-color: rgba(0, 16, 138, 0.05);
  border: 1px solid rgba(0, 16, 138, 0.3);
  padding: 15px;
  border-radius: 10px;
  button {
    align-self: self-start;
  }
}

.elementGroup {
  margin-top: 30px;
}

.accordionParent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordion {
  border-radius: 10px !important;
  box-shadow: 4px 4px 6px rgba(0, 38, 126, 0.039) !important;
  border: 1px solid #e2e7ee !important;
  overflow: hidden;
  .MuiCollapse-root {
    padding: 0 20px 20px;
  }
}

.actionIcons {
  button {
    margin-right: 10px;
    img {
      height: 20px;
    }
  }
}

.btnGroup {
  display: flex;
  gap: 15px;
}
